/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Jan-2017, 1:21:42 PM
    Author     : Lanark
*/

body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Gill Sans', sans-serif;
}

header, footer{
    background-color: #800000;
    height: 100px;
    font-size: 70px;
    text-align: center;
    display: block;
    color: white;
    width: 100%;
    font-family: 'Gill Sans', sans-serif;
    border-radius: 7px;
}

h5{
    color: white;
}


h6{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0px;

}

h4{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

li{
    font-size: 20px;
}

p{
    padding: 10px;
    font-size: 20px;
}

table{
    
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

th{
    background-color: #003399;
    color: white;
    height: 50px;
}

td{
    text-align: center;
    height: 30px;
}

tr:nth-child(even){
    background-color: #99CCFF;
}

#homepageImg{
    height: 60%;
    width: 75%;
}

.homepage-td{
    height: 50%;
    width: 50%;
    background-color: white;
}

.homepage-tr{
    background-color: white;
}


.homepage-table{
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.container{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.2)
    , 0 6px 20px 0 rgba(0,0,0,.19)!important;
}

.homepage-container{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.2)
    , 0 6px 20px 0 rgba(0,0,0,.19)!important;
}


.header{
    text-align: center;
    background-color: black;
    color: white;
    
}

#wrapper{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.icon-header, .icon-footer{
    height: 50px;
    background: black;
    font-size: 40px;
    color: white;
}

.icon-body{
    margin-top: 50px;
}

a{
    color: white;
}

.page-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}